.modal-overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* Caixa do modal */
.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease-in-out;
}

/* Botão fechar */
.modal button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Animação */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(1000px);}
    to {opacity: 1; transform: translateY(0);}
}

#abrirCamera {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    height: 48px;
    padding: 0;
    background-color: #1e1e1fbb;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 1.1rem;
    z-index: 1000;
}
body{
    background-size: 100%;
    background-repeat: no-repeat;
}
.modal img{
    display: none;
}
.modal img:first-of-type {
    display: block;
}